@media screen and (max-width: 420px) {
    /* common */
    * {
        margin: 0;
        padding: 0;
    }

    .row {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    img { 
        width: 150px;
        height: auto; 
    }

    /* blocco lezioni */
    #lezioni.container { background-color: #F2F2CD; }
    #lezioni .row > .left, #lezioni .row > .right {
        width: 100%;
    }

    /* blocco steps */ 
    #steps.container {background-color: transparent; }
    #steps .row>.left, #steps .row>.central, #steps .row>.right {
        width: 100%;
    }
}